html {
  overflow-y: auto;
}

body {
  background: #173e43;
  color: #173e43;
  font-size: 30px;
  font-family: 'Bitter', sans-serif;
}

.wrapper {
  padding: 0 20px;
}

caption, p, table, td, textarea, th {
    hyphens: initial;
}

h1, h2, h3, h4, h5, h6 {
  color: #173e43;
  font-size: 70%;
  text-transform: uppercase;
  font-family: 'Bitter', sans-serif;
}

a { 
  outline: 0 !important;
}

main {
  background-color: #3fb0ac;
  color: #173e43;
}

header {
  padding: 60px 0 50px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  display: inline-block;
  font-size: 22px;
  margin-left: 40px;
  border-bottom: 2px solid rgba(23,62,67,.6);
}

.nav a:hover {
  border-bottom: 2px solid rgba(23,62,67,1);
}

h1.logo {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 0;
  text-transform: none;
}

h1.logo span {
  color: #FFF;
}

.claim {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}

footer {
  padding: 50px 0;
  color: #FFF;
  font-size: 14px;
}

footer a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  border-bottom: 2px solid rgba(255,255,255,.6);
  margin-bottom: 10px;
}
footer a:hover {
  border-bottom: 2px solid #FFF;
}

footer p {
  margin-bottom: 10px;
}

section {
  padding: 60px 0 60px;
}

section.intro {
  padding: 100px 0 30px;
}

section.hiring {
  background: #fae596;
  color: #173e43;
  padding: 60px 0 30px;
}

section.about {
  background: #FFF;
}

section.team {
  background: #9AE4E1;
  padding: 60px 0 30px;
}
@media screen and (min-width: 1220px) {
  section.team .wrapper {
    min-width: 1220px;
  }
}

section.team .team-directory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.team--element {
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin-bottom: 30px;
}

.team--element .name {
  margin-bottom: 10px;
  font-weight: 100;
}

.team--element .picture {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 100px;
  margin: 0 auto 20px;
  border: 3px solid #173e43;
}

.team--element .picture img {
}

section.job-offer {
  font-size: 20px;
  background: rgba(255,255,255,.1);
  padding: 50px 0;
}

section.intro p {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #173e43;
}

p:last-child {
  margin-bottom: 0;
}

a.job {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 15px 20px 0;
  border-bottom: 2px solid rgba(23,62,67,.6);
}

a.job:hover {
  border-bottom: 2px solid rgba(23,62,67,1);
}

a.job.active {
  color: #FFF;
  border-bottom: 2px solid #FFF;
}

.button {
  background: 0;
  border: 2px solid #173e43;
  padding: 12px 22px;
  font-size: 16pt;
  display: inline-block;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.button.apply {
  margin: 10px 0;
}

.button:hover, .button:focus, .button:active {
    background: #173e43;
    color: #FFF;
}

ul {
  list-style: none;
  font-weight: 300;
  margin-bottom: 50px;
}

ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul li:before {
  content: "—";
  padding-right: 20px;
}